<% include search.ejs %><br>
<table width="100%" align="center">
<% if (quizes.length==0 && orige==1) {%>
	<tr style="text-align:center">
		<td>
			<p>No hay resultados que coincidan con el criterio de búsqueda</p><br/>
			<a href="/quizes">Volver</a>
		</td>
	</tr>
<%} else {%>
<% var i; for (i=0; i<quizes.length; i++){ %>
	<tr style="text-align:left">
		<td>
			<a href="quizes/S<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
		</td>
		<td>
			<%= quizes[i].tematica %>
		</td>
		<% if (session.user) { %>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
		<td>
			<form method="post" action="/quizes/D<%= quizes[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('¿Borrar: <%= quizes[i].pregunta 	%>?')">Borrar</button><br/>
			</form>
		</td>
		<% } %>
	</tr>
<%}; } %>
</table>
<%if (session.user) { %>
<br/><a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<% } %>
