<form  method="get" action="/quizes/<%= quiz.id %>/answer">
<table>
	<tr style="text-align:left">
		<td><strong>Temática: </strong></td>
		<td><%= quiz.tematica %></td>
	</tr>
	<tr style="text-align:left">
		<td><strong>Pregunta: </strong></td>
		<td style="text-align:left"><%= quiz.pregunta %></td>
	</tr>
	<tr style="text-align:left">
		<td></td>
		<td><input type="text" name="respuesta" value="Responda aquí" style="text-transform: capitalize" onfocus="this.value=''"/></td> 
		<td><input type="submit" value="Enviar" /></td>
	</tr>
</table>
</form>
<table>
	<tr>
		<td><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir Comentario</button></a></td>
	</tr>
</table>

<table width="100%" class="tab1">
		<tr></tr>
		<tr >	
			<td class="tabR2" colspan="2"><strong>COMENTARIOS: </strong></td>
		</tr>
		<tr>
				<%for(index in quiz.comments) {%>
					<tr>
					<%if (quiz.comments[index].publicado) {%>
							<td><ul id="lis1">&bull; <%=quiz.comments[index].texto%></ul></td>  
							<%if (session.user){%>
								<td id="lis1"><form method="post" action="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>?_method=delete">
									<button type="submit" onClick="return confirm('¿Desea eliminar el comentario: <%= quiz.comments[index].texto %> ?')">Eliminar</button>
								</form></td>
							<%} %>
					<%} else { %>
								<%if (session.user){%>
									<td><ul id="lis1">&bull; <%=quiz.comments[index].texto%></ul></td>  
									<td id="lis1"><form method="post" action="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>?_method=delete">
										<button type="submit" onClick="return confirm('¿Desea eliminar el comentario: <%= quiz.comments[index].texto %> ?')">Eliminar</button></form></td> <td><a href="/quizes/<%=quiz.id%>/comments/<%=quiz.comments[index].id%>/publish"><button>Publicar</button></a></td>
								<%} %>	
							<%} %>	
				</tr>
				<%}%>
		</tr>
</table>
	



